{{!-- //ESTRUCTURA DEL VIEW HOME --}}

<h1 class="titulo">Tienda Kler Backend</h1>
<h2 class="titulo">Productos</h2>
    <div class="session">
        {{#if isLoggedIn}}
        <div>
            <label class="label-user">Usuario actual:</label>
            <p class="user">{{user}}</p>
        </div>
        <div>
            <form>
                <button class="logout" onclick="cambiarCuenta(event)">Cambiar cuenta/Crear cuenta</button>
            </form>
        </div>
        <div>
            <form action="/api/sessions/logout" method="POST">
                <button class="logout" type="submit">Logout</button>
            </form>
        </div>
        {{else}}
        <button>
            <a href="/login">Loguearse/Crear cuenta</a>
        </button>

        {{/if}}
    </div>
    {{#if isAdmin}}
    <div class="options">
        <button class="create-products">
            <a href="/createProducts">Portal vendedor</a>
        </button>
        {{/if}}

        {{#if cartId }}
        <button class="cart">
            <a href="/api/cart/{{cartId}}">Carrito </a>
        </button>
        {{/if}}
    </div>

    <div class="container">
        {{#if products.length}}
        <div class="productos-grilla">
            {{#each products}}
            <div class="producto">
                {{#if @root.isAdmin}}
                <p class="producto-tilte">Code:{{this.code}}</p>
                {{/if}}
                <h3 class="producto-title">{{this.title}}</h3>
                <img class="producto-img" src="{{this.thumbnail}}" alt="">
                <p class="producto-price">Precio: ${{this.price}}</p>
                <p class="producto-categoria">Categor铆a: {{this.category}}</p>
                <p class="producto-description">Descripci贸n: {{this.description}}</p>
                <p class="producto-stock">Unidades disponibles: {{this.stock}}</p>
                <button class="options detail"> <a href="/products/{{_id}}" class="producto-detalles">Ver
                        detalles</a></button>

            </div>
            {{/each}}
        </div>

        <!-- Paginaci贸n -->
        <div class="pagination">
            {{#if hasPrevPage}}
            <button class="options pages"> <a class="prev"
                    href="/?limit={{limit}}&page={{prevPage}}&query={{query}}&sort={{sort}}">P谩gina Anterior</a>
            </button>
            {{/if}}

            {{#if hasNextPage}}
            <button class="options pages">
                <a class="next" href="/?limit={{limit}}&page={{nextPage}}&query={{query}}&sort={{sort}}">P谩gina
                    Siguiente</a>
            </button>
            {{/if}}
            <p class="page">P谩gina {{currentPage}} de {{totalPages}}</p>
        </div>
        {{else}}
        <p>No hay productos disponibles.</p>
        {{/if}}
    </div>

<script>
    const cambiarCuenta = async (event) => {
        event.preventDefault();

        try {
            const response = await fetch("/api/sessions/logout", {
                method: "POST",
            });

            if (response.ok) {
                window.location.href = "/login";
            } else {
                console.error("Error al cerrar sesi贸n");
            }
        } catch (error) {
            console.error("Hubo un problema con la petici贸n:", error);
        }
    };
</script>