{{!-- //ESTRUCTURA DEL VIEW HOME --}}

<h1 class="titulo">Tienda Kler Backend</h1>
<h2 class="titulo">Productos</h2>

{{#if isAdmin}}
<div class="options"><button class="create-products">
<a href="/createProducts">Portal vendedor</a>
</button>
{{/if}}

{{#if cartId }}
<button class="cart">
<a href="/api/carts/{{cartId}}">Carrito 游</a>
</button>
{{/if}}</div>
<div class="container">
    <a class="registro" href="/login">Loguearse/ Crea cuenta </a>
{{#if products.length}}
<div class="productos-grilla">
    {{#each products}}
    <div class="producto">
        <h3 class="producto-title">{{this.title}}</h3>
        <img class="producto-img" src="{{this.thumbnail}}" alt="">
        <p class="producto-price">Precio: ${{this.price}}</p>
        <p class="producto-categoria">Categor칤a: {{this.category}}</p>
        <p class="producto-description">Descripci칩n: {{this.description}}</p>
        <p class="producto-stock">Unidades disponibles: {{this.stock}}</p>
        <button class="options detail">    <a href="/products/{{_id}}" class="producto-detalles">Ver detalles</a></button>
    
    </div>
    {{/each}}
</div>

<!-- Paginaci칩n -->
<div class="pagination">
    {{#if hasPrevPage}}
    <button class="options pages">    <a class="prev" href="/?limit={{limit}}&page={{prevPage}}&query={{query}}&sort={{sort}}">P치gina Anterior</a>
</button>
    {{/if}}

    {{#if hasNextPage}}
    <button class="options pages">    
        <a class="next" href="/?limit={{limit}}&page={{nextPage}}&query={{query}}&sort={{sort}}">P치gina Siguiente</a>
</button>
    {{/if}}
    <p class="page">P치gina {{currentPage}} de {{totalPages}}</p>
</div>
{{else}}
<p>No hay productos disponibles.</p>
{{/if}}
</div>
</body>

</html>